/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */

html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url("../images/wood_bg_landscape.jpg");
  background-size: contain;
  /* background-repeat: repeat-y; */
}

body {
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* * {
  box-sizing: border-box;
} */

.root {
  height: 100vh;
  width: 100vw;
}

.routesContainer {
  width: 100%;
}

.mainContainer {
  position: relative;
  width: 100%;
}

.react-transition-container {
  position: relative;
}

.fade {
  position: absolute;
  width: 100vw;
}

.fade-enter {
  opacity: 0;
  /* z-index: 1; */
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms;
}

.navBar {
  display: flex;
  width: 88%;
  margin: 1rem auto 0rem auto;
  /* position: relative; */
  background-image: url("../images/brown-wooden-textured-flooring-background-800-v2.jpg");
  background-size: contain;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border-color: black;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.navBarInnerContainer {
  margin: auto;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBarLink {
  background-color: white;
  padding: 0.6rem 0.7rem;
  border-radius: 0.8rem;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);

  text-decoration: none;
  border-style: solid;
  color: black;
  font-size: 1.2rem;
}

.homeComponent {
  min-height: 100vh;
  width: 92%;
  margin: 0.8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.homeComponentInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsComponent {
  min-height: 100vh;
  width: 92%;
  margin: 0.8rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.postsComponentInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exploreComponent {
  min-width: 95%;
  width: 95%;
  min-height: 100vh;
  margin: 2rem auto;
  font-size: 1rem; 

  display: flex;
  flex-direction: column;
  align-items: center;
}

.exploreInnerContainer {
  margin: 0 auto;
  width: 100%;

}

.chaanLinkButton {
  border-radius: 1rem;
  background-color: #8b6254;
  /* text-decoration: none; */
  width: 85%;
  margin: 1.5rem auto;
  font-size: 1.2rem;
  padding: 1rem;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.chaanLinkButton > a {
  text-decoration: none;
}

.imageContainer {
  background-color: white;
  border-radius: 15px;
  /* width: 94%; */
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
  margin: 0.8rem auto;
  padding: 1rem;
  font-size: 1rem;
}

.imageFrame {
  border-width: 2px;
}

.imageFrame > img {
  width: 100%;
  /* border-radius: 7px; */
}

.postImg {
  width: 100%;
  border-radius: 15px;
}

.lazyLoadImg {
  height: 100%
}

.imagePostTextGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.imagePostTextTopRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.imagePostTextTopRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likesIcon {
  height: 2.4rem;
}

.aboutComponent {
  min-height: 100vh;
  width: 85%;
  margin: 2rem auto;
  font-size: 1rem;
}

.aboutComponentInnerContainer {
  /* width: 85%; */
  margin: 1rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.errorComponent {
  background-color: white;
  width: 75%;
  border-radius: 20px;
  padding: 25px 40px 40px 40px;
}

.spinnerContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-device-width: 768px) {

  .navBarInnerContainer {
    margin: auto;
    justify-content: flex-start;
    gap: 30px;
  }

  .navBarLink {
    font-size: 1.5rem;
    border-radius: 15px;
  }
  
  .homeComponent {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    font-size: 1.3rem;
  }

  .homeComponentInnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }

  .postsComponent {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    font-size: 1.3rem;
  }

  .postsComponentInnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }

  .imageContainer {
    width: 42%;
    margin: 1.2rem auto;
    font-size: 1rem;
    padding: 16px;
  }

  .imageFrame {
    border-radius: 15px;
  }

  .likesIcon {
    height: 1.3rem;
  }

  .exploreComponent {
    margin: 0 auto;
    font-size: 1.3rem; 
  }
  
  .exploreInnerContainer {
    margin: 0 auto;
    width: 100%;
    /* color: white; */
  }
  
  .chaanLinkButton {
    border-radius: 20px;
    background-color: #8b6254;
    width: 85%;
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 25px;
  }
  
  .chaanLinkButton > a {
    color:white;
  }

  .aboutComponent {
    min-height: 100vh;
    width: 85%;
    margin: auto;
  }

  .aboutComponentInnerContainer {
    margin: 40px auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);

    font-size: 1.2rem;
  }

  .loginComponent {
    margin: 45px auto;
    min-height: 100vh;
    width: 60%;
  }

}