@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* * {
  box-sizing: border-box;
} */

.main {
  background-image: url("../images/wood_bg_landscape.jpg");
  background-size: contain;
  background-repeat: repeat-y;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routesContainer {
  width: 100%;
}

.mainContainer {
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
}

.fade {
  position: absolute;
}

.fade-enter {
  opacity: 0;
  /* z-index: 1; */
}

.fade-enter-active {
  /* margin: 0 auto; */
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.navBar {
  display: flex;
  width: 88%;
  margin: 2rem auto 0.5rem auto;
  /* position: relative; */
  background-image: url("../images/brown-wooden-textured-flooring-background-800-v2.jpg");
  background-size: contain;
  padding: 1.8rem;
  border-radius: 20px;
  border-color: black;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.navBarInnerContainer {
  margin: auto;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBarLink {
  background-color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);

  text-decoration: none;
  border-style: solid;
  color: black;
  font-size: 3rem;
}


.homeComponent {
  min-height: 100vh;
  width: 92%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}



.homeComponentInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsComponent {
  min-height: 100vh;
  width: 92%;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.postsComponentInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exploreComponent {
  min-width: 95%;
  width: 95%;
  min-height: 100vh;
  margin: 2rem auto;
  font-size: 2rem; 

  display: flex;
  flex-direction: column;
  align-items: center;
}

.exploreInnerContainer {
  margin: 0 auto;
  width: 100%;

}

.chaanLinkButton {
  border-radius: 20px;
  background-color: #8b6254;
  /* text-decoration: none; */
  width: 85%;
  margin: 3rem auto;
  font-size: 2.5rem;
  padding: 25px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.chaanLinkButton > a {
  text-decoration: none;
}

.imageContainer {
  background-color: white;
  border-radius: 15px;
  /* width: 94%; */
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
  margin: 2rem auto;
  padding: 2.2rem;
  font-size: 2.2rem;
}

.imageFrame {
  border-width: 2px;
}

.imageFrame > img {
  width: 100%;
  /* border-radius: 7px; */
}

.postImg {
  width: 100%;
  border-radius: 15px;
}

.lazyLoadImg {
  height: 100%
}

.imagePostTextGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.imagePostTextTopRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.imagePostTextTopRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likesIcon {
  height: 2.4rem;
}

.aboutComponent {
  min-height: 100vh;
  width: 85%;
  margin: 3rem auto;
  font-size: 2rem;
}

.aboutComponentInnerContainer {
  /* width: 85%; */
  margin: 40px auto;
  padding: 3rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.loginComponent {
  margin: 8rem auto;
  min-height: 100vh;
  /* width: 60%; */
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 45px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
  font-size: 2.6rem;
}

.loginInputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInputGroup > input {
  padding: 2.2rem;
  border-radius: 25px;
  font-size: 2.4rem;
  background-color: rgb(239, 234, 234);
}

.loginInputGroup > input:invalid[data-focused="true"] {
  border: 1px solid red;
}

.loginInputGroup > input:invalid[data-focused="true"] ~ div .loginInputErrorMessage {
  display: block;
}

.loginInputErrorContainer {
  height: 7.5rem;
  margin: 1rem auto;
}

.loginInputErrorMessage {
  font-size: 2rem;
  padding: 3px;
  color: red;
  display: none;
}

.submitButton {
  margin-top: 0.5rem;
  padding: 2rem 4rem;
  border-radius: 25px;
  font-size: 2.4rem;
}

.errorComponent {
  background-color: white;
  width: 75%;
  border-radius: 20px;
  padding: 25px 40px 40px 40px;
}

@media screen and (min-device-width: 768px) {

  .navBarInnerContainer {
    margin: auto;
    justify-content: flex-start;
    gap: 30px;
  }

  .navBarLink {
    font-size: 1.5rem;
    border-radius: 15px;
  }
  
  .homeComponent {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 95%;
    margin: 0 auto;
  }

  .homeComponentInnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }

  .postsComponent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;

  }

  .imageContainer {
    width: 42%;
    margin: 1.2rem auto;
    font-size: 1rem;
    padding: 16px;
    /* border-radius: 15px; */
  }

  .imageFrame {
    border-radius: 15px;
  }

  .likesIcon {
    height: 1.3rem;
  }

  .exploreComponent {
    /* min-width: 95%; */
    /* width: 95%; */
    /* min-height: 100vh; */
    margin: 0 auto;
    font-size: 1.5rem; 
  }
  
  .exploreInnerContainer {
    margin: 0 auto;
    width: 100%;
    /* color: white; */
  }
  
  .chaanLinkButton {
    border-radius: 20px;
    background-color: #8b6254;
    /* text-decoration: none; */
    width: 85%;
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 25px;
  }
  
  .chaanLinkButton > a {
    /* text-decoration: none; */
    color:white;
  }

  .aboutComponent {
    min-height: 100vh;
    width: 85%;
    margin: auto;
  }

  .aboutComponentInnerContainer {
    /* width: 85%; */
    margin: 40px auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);

    font-size: 1.2rem;
  }

  .loginComponent {
    margin: 45px auto;
    min-height: 100vh;
    width: 60%;
  }
  
  
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
    font-size: 1.8rem;
  }
  
  .loginInputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginInputGroup > input {
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgb(239, 234, 234);
  }
  
  .loginInputGroup > input:invalid[data-focused="true"] {
    border: 1px solid red;
  }
  
  .loginInputGroup > input:invalid[data-focused="true"] ~ div .loginInputErrorMessage {
    display: block;
  }
  
  .loginInputErrorContainer {
    height: 2rem;
    margin: 8px auto;
  }
  
  .loginInputErrorMessage {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }
  
  .submitButton {
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 1rem;
  }

}