@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh + 8px;
  width: 100vw + 8px;
}

/* * {
  box-sizing: border-box;
} */

.main {
  background-image: url("../images/wood_bg_landscape.jpg");
  background-size: contain;
  background-repeat: repeat-y;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routesContainer {
  width: 100%;
}

.mainContainer {
  position: relative;
  width: 100%;
  /* margin: 0 auto; */
}

.fade {
  position: absolute;
}

.fade-enter {
  opacity: 0;
  /* z-index: 1; */
}

.fade-enter-active {
  /* margin: 0 auto; */
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.navBar {
  display: flex;
  width: 92%;
  margin-top: 1rem;
  /* position: relative; */
  background-image: url("../images/brown-wooden-textured-flooring-background-800-v2.jpg");
  background-size: contain;
  padding: 1.2rem;
  border-radius: 10px;
  border-color: black;
  gap: 20px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.navBarLink {
  background-color: white;
  padding: 0.6rem 0.8rem;
  border-radius: 12px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);

}

.navBar > a {
  text-decoration: none;
  border-style: solid;
  color: black;
  font-size: 1.5rem;
  /* padding: 0.25rem; */

}

.homeComponent {
  /* display: block; */
  /* overflow-y: scroll; */
  min-height: 100vh;
  width: 92%;
  margin: 0 auto;
  /* min-height: 750px; */

}

.exploreComponent {
  min-width: 95%;
  width: 95%;
  /* height: 100%; */
  min-height: 100vh;
  margin: 0 auto;
  /* min-width: 100vw; */
  /* padding: 10px; */
}

.exploreInnerContainer {
  margin: 0 auto;
  width: 100%;

}

.chaanLink {
  border-radius: 5px;
  background-color: #8b6254;
  /* text-decoration: none; */
  width: 300px;
  margin: 18px;
  font-size: 25px;
  padding: 10px;
}

.chaanLink > a {
  text-decoration: none;
}

.aboutComponent {
  min-height: 100vh;
  width: 85%;
  margin: auto;
  
}

.aboutComponentInnerContainer {
  /* width: 85%; */
  margin: 40px auto;
  padding: 1.5rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
}

.postsComponent {
  /* height: 100%; */
  min-height: 100vh;
  width: 92%;
  margin: 0 auto;
}

.imageContainer {
  /* background-color: #404040; */
  /* background-color: black; */
  background-color: white;
  border-radius: 15px;
  width: 94%;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);
  /* padding-bottom: 5px; */
  margin: 2rem auto;
  padding: 20px;
}

.imageFrame {
  border-width: 2px;
  /* display: block; */
  /* padding-top: 3%; */
}

.imageFrame > img {
  width: 100%;
  border-radius: 7px;
  /* margin-left: 3%; */
  /* box-shadow: 2px 2px #202020; */
}

.postImg {
  /* max-height: 100%; */
  width: 100%;
  border-radius: 15px;
  /* margin-left: 3%; */
  /* aspect-ratio: 3/2; */
}

.lazyLoadImg {
  height: 100%
}

/* .spinnerContainer {
  width: 50%;
} */

.imagePostTextGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.imagePostTextTopRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.imagePostTextTopRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likesIcon {
  height: 1.3rem;
}

.loginComponent {
  margin: 45px auto;
  /* width: 100%; */
  /* height: 100%; */
  min-height: 100vh;
  width: 60%;
  /* padding: 45px; */
}


.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 12px hsl(0deg 0% 0% / 0.44);


}

.loginInputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .loginInputGroupTopRow > label {
  display: inline-block;
  width: 120px;
  font-size: 1.2rem;
} */

.loginInputGroup > input {
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgb(239, 234, 234);
}

.loginInputGroup > input:invalid[data-focused="true"] {
  border: 1px solid red;
}

.loginInputGroup > input:invalid[data-focused="true"] ~ div .loginInputErrorMessage {
  display: block;
}

.loginInputErrorContainer {
  height: 2rem;
  margin: 8px auto;
}

.loginInputErrorMessage {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.submitButton {
  padding: 15px 20px;
  border-radius: 12px;
  /* font-family: 'Noto Sans JP', sans-serif; */
}

.errorComponent {
  background-color: white;
  width: 75%;
  border-radius: 20px;
  padding: 25px 40px 40px 40px;
}